.container {
    height: 100%;
    display: flex;
}

.left_sidebar,
.right_sidebar {
    width: 300px;
    height: 100%;
    background: var(--sidebar);
    padding: 8px;
    overflow-y: auto;
}

.left_sidebar {
    border-right: 1px solid var(--border);
}

.main {
    flex: 1;
}

.right_sidebar {
    border-left: 1px solid var(--border);
}