.container {
    height: 100%;
    display: flex;
}

.sidebar {
    width: 300px;
    height: 100%;
    background: #202020;
    border-right: 1px solid #2a2a2a;
    padding: 8px;
    overflow-y: auto;
}