.container {
    height: 100%;
    display: flex;
}

.left_sidebar,
.right_sidebar {
    width: 300px;
    height: 100%;
    background: var(--sidebar);
    padding: 8px;
    overflow-y: auto;
}

.left_sidebar {
    border-right: 1px solid var(--border);
}

.main {
    flex: 1;
}

.right_sidebar {
    border-left: 1px solid var(--border);
}

.entity_category {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.entity_category .text,
.entity_category .name {
    font-size: 14px;
}

.entity_category .pallette {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.entity_category .swatch {
    background: var(--color-input);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}