.container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.body {
    flex: 1;
    overflow-y: auto;
}

.footer {
    border-top: 1px solid #2a2a2a;
    background: #202020;
    padding: 10px;
}

.footer p {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}