.container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.body {
    flex: 1;
    overflow-y: auto;
}

.footer {
    border-top: 1px solid var(--border);
    background: var(--sidebar);
    padding: 10px;
}

.footer p {
    text-align: center;
    font-size: 15px;
}