.container {
    height: 100%;
    display: flex;
}

.sidebar {
    width: 500px;
    height: 100%;
    background: var(--sidebar);
    border-right: 1px solid var(--border);
    overflow-y: auto;
    display: flex;
}

.strip {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: var(--secondary);
    border-right: 1px solid var(--border);
}

.calculations_panel,
.builder_panel {
    flex: 1;
}

.top_bar {
    margin: 8px;
}

.icon_container {
    --width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: var(--width);
    min-height: var(--width);
    max-width: var(--width);
    max-height: var(--width);
    cursor: pointer;
}

.icon_container:hover {
    background: var(--accent);
}

.strip .icon_container.active {
    background: var(--accent);
}

.icon {
    opacity: .5;
    width: 22px;
}

/* Cell */
.cell {
    --line-height: 1.5;
    --font-size: 16px;

    border: 1px solid var(--border);

    display: flex;
}

.cell * {
    font-family: var(--font-mono);
}

.editor {
    position: relative;
    display: grid;
    width: 100%;
}

.handle {
    width: 50px;
    background: var(--color-muted);
    position: relative;
}

.handle .toggle {
    aspect-ratio: 1 / 1;
    width: 35px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    background: var(--accent);
}

.toggle:not(.active)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 1 / 1;
    width: 26px;
    margin: auto;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background: var(--secondary);
}

.editor_layer {
    background: transparent;

    grid-area: 1 / 1;

    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: var(--font-size);
    line-height: var(--line-height);
    white-space: pre-wrap;
    word-wrap: break-word;

    overflow: hidden;

    border: none;
    outline: none;
    resize: none;
}

.highlight_layer {
    z-index: 1;
    color: var(--foreground);
    pointer-events: none;
}

.input_layer {
    z-index: 2;
    color: transparent;
    background: transparent;
    caret-color: white;
    resize: none;
}

/* Syntax Colors */
.hl_keyword {
    color: #569cd6;
}

.hl_string {
    color: #ce9178;
}

.hl_function {
    color: #d9d9a7;
}

.hl_number {
    color: #b5cda8;
}

.autocomplete_container {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;

    background: var(--popover);
    border: 1px solid var(--border);
    width: 200px;
    padding: 8px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 3px;
}

.autocomplete_suggestion {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--popover-foreground);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: var(--font-size);
}

.suggestion_type {
    opacity: 0.5;
    margin: auto 0;
    font-size: .9em;
}

.autocomplete_suggestion:hover,
.autocomplete_suggestion.selected {
    background: var(--accent);
    color: var(--accent-foreground);
}