.container {
    font-weight: 500;
    font-size: 15px;
}

.container svg {
    display: block;
    color: white;
}

.container path,
.container circle {
    cursor: pointer;
    color: #252525;
    stroke: #3b3b39;
}

.container text,
.container g {
    cursor: pointer;
    user-select: none;
}