.container svg {
    display: block;
    color: var(--foreground);
}

.container path,
.container circle {
    cursor: pointer;
    color: var(--popover);
    stroke: var(--border);
}

.center_icon path {
    stroke: var(--foreground);
}

.container text,
.container g {
    cursor: pointer;
    user-select: none;
}