.container {
    font-weight: 500;
    font-size: 15px;
}

.container svg {
    display: block;
    color: var(--foreground);
}

.container path,
.container circle {
    cursor: pointer;
    color: var(--popover);
    stroke: var(--border);
}

.container text,
.container g {
    cursor: pointer;
    user-select: none;
}