.container svg {
    display: block;
    color: white;
}

.container path,
.container circle {
    cursor: pointer;
    stroke: #4c4a48;
    color: #292726;
}

.container text,
.container g {
    cursor: pointer;
    user-select: none;
}