@import "@fontsource-variable/bricolage-grotesque";
@import "@fontsource-variable/jetbrains-mono";

:root {
  --font-sans: "Bricolage Grotesque Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-sans);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #191919;
  color: #f0efec;
}